.slider,
.slider-track {
   width: 100% !important;
}

.slider-track {
   background: #dfe1e5;
   height: 5px !important;
}

.slider-selection {
   background: #c2ab87;
   box-shadow: none;
}

.slider-handle {
   background: #fff;
   border: 1px solid #dfe1e5;
   top: -2px;
}

.price-filter input[type="text"] {
   width: 45%;
   margin-right: 5%;
   float: left;
}

.price-filter input[type="text"]:last-of-type {
   margin-right: 0;
   margin-left: 5%;
}

.filter-checkbox {
   padding: 0.5em 0 0.5em 1em;
}

label.required::after {
   content: "*";
   color: #E74A3B;
}